/* The Mobile style */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  
  /* Header Section styling */
  
  .header-image {
    background-color: rgba(222, 222, 222, 0.9);
  }
  
  .home-header {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    left: 0;
    right: 0;
    background-image: url(./images/Mobile/Header-bg-home.jpg);
    background-repeat: no-repeat;
    z-index: 9;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 10px;
    position: fixed;
  }
  
  .logo {
    display: none;
  }
  
  .hamburger {
    display: block;
    margin-right: 20px;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: all 0.3s ease-in-out;
    background-color: #272a31;
  }
  
  .nav-menu {
    display: none;
    justify-content: space-between;
  }
  
  .ask-quote {
    display: none;
  }
  
  /* Headline Section styling */
  
  .headline-container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-top: 122px;
  }
  
  .headline-container h1 {
    background-image: url(./images/Mobile/orange-background.png);
    font-family: 'cocogoose', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-position: 20% 20%;
    background-size: cover;
    color: transparent;
    max-width: 900px;
    align-self: center;
    margin-left: 15px;
  }
  
  .hammer-vector {
    background-image: url(images/Mobile/vector-hammer-png.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 167px;
    height: 100px;
    left: 306px;
    top: 190px;
    opacity: 0.75;
  }
  
  .headline-paragraph-container {
    display: flex;
    border: 2px solid white;
    margin-top: 12px;
    align-self: center;
    padding: 10px;
    width: 384px;
    background-color: rgb(229, 229, 229);
  }
  
  .headline-paragraph-container p {
    font-family: "Poppins", sans-serif;
    line-height: 25px;
    color: #272a31;
  }
  
  .headline-container h3 {
    font-family: 'cocogose', sans-serif;
    margin-top: 25px;
    margin-bottom: 40px;
    align-self: center;
    font-size: 18px;
    color: #272a31;
  }
  