@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");
@import url('http://fonts.cdnfonts.com/css/cocogoose');

/* The Mobile style */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* Header Section styling */

.header-image {
  background-color: rgba(222, 222, 222, 0.9);
}

.home-header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  left: 0;
  right: 0;
  background-image: url(./images/Mobile/About-bg.jpg);
  background-repeat: no-repeat;
  z-index: 9;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-top: 10px;
  position: fixed;
}

.logo {
  display: none;
}

.hamburger {
  display: block;
  margin-right: 20px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  transition: all 0.3s ease-in-out;
  background-color: #272a31;
}

.nav-menu {
  display: none;
  justify-content: space-between;
}

.ask-quote {
  display: none;
}

/* Headline Section styling */

.headline-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-top: 122px;
}

.headline-container h1 {
  background-image: url(./images/Mobile/orange-background.png);
  font-family: 'cocogoose', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-position: 20% 20%;
  background-size: cover;
  color: transparent;
  max-width: 900px;
  align-self: center;
  margin-left: 15px;
}

.hammer-vector {
  background-image: url(images/Mobile/vector-hammer-png.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 167px;
  height: 100px;
  left: 306px;
  top: 190px;
  opacity: 0.75;
}

.headline-paragraph-container {
  display: flex;
  border: 2px solid white;
  margin-top: 12px;
  align-self: center;
  padding: 10px;
  width: 384px;
  background-color: rgb(229, 229, 229);
}

.headline-paragraph-container p {
  font-family: "Poppins", sans-serif;
  line-height: 25px;
  color: #272a31;
}

.headline-container h3 {
  font-family: 'cocogose', sans-serif;
  margin-top: 25px;
  margin-bottom: 40px;
  align-self: center;
  font-size: 18px;
  color: #272a31;
}

/* Main section Styling */

/* About us Styling */

.About-us-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgba(222, 222, 222, 1);
}

.section-title {
  display: flex;
  flex: 1;
  color: #272a31;
  align-self: center;
  font-family: 'cocogose', sans-serif;
  margin-top: 15px;
  font-size: 20px;
  justify-content: center;
}

.section-title-underline-bar {
  width: 46px;
  height: 2px;
  align-self: center;
  justify-content: center;
  background-color: rgba(236, 82, 66, 1);
  margin-top: 10px;
}

.About-us-container p {
  font-family: "Poppins", sans-serif;
  color: #272a31;
  text-align: center;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 16px;
}

.about-us-logo {
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  color: rgba(236, 82, 66, 1);
  border: 1px solid rgba(222, 222, 222, 1);
  padding-right: 60px;
  padding-left: 60px;
  display: flex;
  align-items: center;
  height: 170px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: 45px;
  font-weight: 700;
}

/* Project Completed Styling */

.project-done-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-done-container p {
  font-family: "Poppins", sans-serif;
  color: #272a31;
  text-align: center;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 16px;
}

.project-done-1 {
  background: url(./images/Mobile/project-3.png);
  background-repeat: repeat;
  background-repeat: no-repeat;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 212px;
  width: 350px;
  margin-top: 48px;
}

.project-done-2 {
  background: url(./images/Mobile/project-2.png);
  background-repeat: repeat;
  background-repeat: no-repeat;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 212px;
  width: 350px;
  margin-top: 48px;
  margin-bottom: 37px;
}

.project-done-1 p {
  font-family: 'cocogose', sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: white;
  z-index: 9;
}

.project-done-2 p {
  font-family: 'cocogose', sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: white;
  z-index: 9;
}

.project-done-1 .color-overlay {
  height: 212px;
  width: 350px;
  background: rgba(156, 44, 31, 0.7);
  position: absolute;
  bottom: -568px;
}

.project-done-2 .color-overlay {
  height: 212px;
  width: 350px;
  background: rgba(156, 44, 31, 0.7);
  position: absolute;
}

/* Partner Section Styling */
.partner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(60, 63, 69, 1);
  font-family: 'cocogose', sans-serif;
  width: 100%;
  height: 100%;
}

.partner-container .section-title {
  color: white;
}

.partner-container .section-title-underline-bar {
  width: 46px;
  height: 2px;
  align-self: center;
  background-color: rgba(236, 82, 66, 1);
  margin-top: 10px;
}

.partner-block-1 {
  display: flex;
  width: 100%;
  height: 56px;
  margin-top: 12px;
  margin-left: 30px;
  align-self: center;
}

.partner-block-1 .partner-client-1 {
  flex: 1;
  display: flex;
  background-image: url(./images/Mobile/mozilla-logo.png);
  background-repeat: no-repeat;
}

.partner-block-1 .partner-client-2 {
  flex: 1;
  display: flex;
  background-image: url(./images/Mobile/NAVER-logo.png);
  background-repeat: no-repeat;
}

.partner-block-1 .partner-client-3 {
  flex: 1;
  display: flex;
  background-image: url(./images/Mobile/airbnb-logo-N.png);
  background-repeat: no-repeat;
}

.partner-block-2 {
  display: flex;
  width: 100%;
  height: 104px;
  margin-top: 12px;
  margin-left: 102px;
  align-self: center;
}

.partner-block-2 .partner-client-1 {
  flex: 1;
  display: flex;
  background-image: url(./images/Mobile/HPMK-logo.png);
  background-repeat: no-repeat;
  opacity: 0.7;
}

.partner-block-2 .partner-client-2 {
  flex: 1;
  display: flex;
  background-image: url(./images/Mobile/NAVER-logo.png);
  background-repeat: no-repeat;
}

/* The Footer section Sytling */

.footer-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.footer-logo {
  color: rgba(236, 82, 66, 1);
  font-size: 1rem;
  font-family: 'cocogose', sans-serif;
  width: 200;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-left: 70px;
  text-align: center;
}

.copyright {
  font-family: 'cocogose', sans-serif;
  font-size: 11px;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-left: 35px;
  text-align: center;
  margin-right: 40px;
  color: rgba(60, 63, 69, 1);
}
